[Unit]
Description=trans-vpn container

[Service]
#Restart=always
Type=forking
PIDFile=/run/trans-vpn.pid
ExecStart=/etc/trans-vpn/start-stop start trans-vpn 9091
ExecStop=/etc/trans-vpn/start-stop stop trans-vpn 9091

[Install]
WantedBy=local.target
